<!-- <ul class="navbar-content-container">
    <li *ngFor="let category of categories">
        <span (click)="selectCategory(category)">{{category.name}}</span>
        <ul class="navbar-sub-content-container">
            <li *ngFor="let subCategory of category.subCategories" (click)="selectSubCategory(subCategory)">
                <span>{{subCategory.name}}</span>
            </li>
        </ul>
    </li>
</ul> -->

<mat-nav-list *ngFor="let category of categories" class="list">
    <mat-list-item class="item" routerLinkActive="active-link">
        <a [routerLink]="['/home']" [queryParams]="{ categoryId: category.id }" >
            {{ category.name }}
        </a>
    </mat-list-item>
    <mat-list-item class="sub-item" *ngFor="let subCategory of category.subCategories" routerLinkActive="active-link">
        <a [routerLink]="['/home']" [queryParams]="{ subCategoryId: subCategory.id }" >
            {{ subCategory.name }}
        </a>
    </mat-list-item>
</mat-nav-list>