<mat-nav-list class="list">
    <mat-list-item class="item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/home']">
            All Products
        </a>
    </mat-list-item>
</mat-nav-list>

<mat-nav-list *ngFor="let category of categories" class="list">
    <mat-list-item class="item" routerLinkActive="active-link">
        <a [routerLink]="['/home']" [queryParams]="{ categoryId: category.id }">
            {{ category.name }}
        </a>
    </mat-list-item>
    <mat-list-item class="sub-item" *ngFor="let subCategory of category.subCategories" routerLinkActive="active-link">
        <a [routerLink]="['/home']" [queryParams]="{ subCategoryId: subCategory.id }">
            {{ subCategory.name }}
        </a>
    </mat-list-item>
</mat-nav-list>