<mat-toolbar color="primary" role="header">
    <div *ngIf="isInRole('Administrator')">
        <button mat-icon-button [matMenuTriggerFor]="adminMenu" class="menu-btn-trigger">
            <mat-icon>more_vert</mat-icon>
            <span>Admin Menu</span>
        </button>
        <mat-menu #adminMenu="matMenu">
            <button mat-menu-item (click)="openProductsMenu()">
                <mat-icon>menu</mat-icon>
                <span>Products</span>
            </button>
            <button mat-menu-item (click)="openStoragesMenu()">
                <mat-icon>storage</mat-icon>
                <span>Storages</span>
            </button>
            <button mat-menu-item (click)="openHangfireDashboard()">
                <mat-icon>schedule</mat-icon>
                <span>Jobs</span>
            </button>
            <button mat-menu-item (click)="openReportsMenu()" *ngIf="isInRole('Owner')">
                <mat-icon>sort</mat-icon>
                <span>Reports</span>
            </button>
        </mat-menu>
    </div>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="openShoppingCart()">
        <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <div *ngIf="userName">
        <span class="nav-welcome-msg">Welcome, {{userName}}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-btn-trigger">
            <mat-icon>more_vert</mat-icon>
            <span>Menu</span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openOrderHistory()">
                <mat-icon>dialpad</mat-icon>
                <span>Order History</span>
            </button>
            <button mat-menu-item class="btn-logout" (click)="logout()">
                <mat-icon>input</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </div>
    <div *ngIf="!userName">
        <button mat-button (click)="login()">Login</button>
        <button mat-button (click)="register()">Register</button>
    </div>
</mat-toolbar>