.example-icon {
    padding: 0 14px;
}
  
.example-spacer {
    flex: 1 1 auto;
}  

.btn-logout {
    margin-right: 2em;
}

.nav-welcome-msg {
    margin-right: 3em;
}

.menu-btn-trigger {
    margin-right: 3em;
}