<mat-card class="list-content">
    <img src="{{product.pictureUrl}}" alt="{{product.name}}">
    <a [routerLink]="['/item', product.id]"><h3>{{product.name}}</h3></a>
    <p class="product-description-small">{{product.description}}</p>
    <div *ngIf="product.availableCount >= 1; then available else notAvailable"></div>
    <button mat-icon-button *ngIf="authService.isInRole('Administrator')"
        class="delete-product-btn" 
        [disabled]="product.availableCount < 1" 
        matTooltip="Delete product"
        (click)="deleteProduct(product)">
        <mat-icon>delete_forever</mat-icon>
    </button>
</mat-card>

<ng-template #available>
    <div class="add-to-cart-container">
        <input matInput [(ngModel)]="buyAmount" type="number" min="1" [max]="product.availableCount" class="buy-amount" required/>
        <button mat-icon-button (click)="addToCart()">
            <span>Add</span>
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </div>
</ng-template>

<ng-template #notAvailable>
    <h3 class="not-available-text">Not available</h3>
</ng-template>