<mat-card class="list-content">
    <img src="{{product.pictureUrl}}" alt="{{product.name}}">
    <h3>{{product.name}}</h3>
    <p class="product-description-small">{{product.description}}</p>
    <div *ngIf="product.availableCount >= 1; then available else notAvailable"></div>
</mat-card>

<ng-template #available>
    <div class="add-to-cart-container">
        <input matInput [(ngModel)]="buyAmount" type="number" min="1" max="{{product.avalaibleCount}}" class="buy-amount" required/>
        <button mat-icon-button (click)="addToCart()">
            <span>Add</span>
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </div>
</ng-template>

<ng-template #notAvailable>
    <h3 class="not-available-text">Not available</h3>
</ng-template>