<mat-card class="list-content">
    <img src="{{product.pictureUrl}}" alt="{{product.name}}">
    <h3>{{product.name}}</h3>
    <p class="product-description-small">{{product.description}}</p>

    <div class="add-to-cart-container">
        <input matInput [(ngModel)]="buyAmount" type="number" min="1" class="buy-amount" required/>
        <button mat-icon-button (click)="addToCart()">
            <span>Add</span>
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </div>
</mat-card>