<div class="products-grid-container">
    <div *ngIf="!anyItemsOnPage" class="grid-noitemslabel-container">
        <h1>No items under this category on this page yet</h1>
    </div>
    <ul class="list">
        <li *ngFor="let product of pageData.productItems">
            <product-cell [product]="product" (itemDeleted)="deleteProduct($event)" class="list-item"></product-cell>
        </li>
    </ul>
    <div *ngIf="anyItemsOnPage" class="grid-footerpager-container">
        <mat-paginator [length]="pageData.totalCount" [pageSize]="itemsPerPage" (page)="pageChanged($event)" ></mat-paginator>
    </div>
</div>